.error-alert{
    background-color: hsl(0, 55%, 66%);
    border: 0.1em solid hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    margin-bottom: 1em;
    width: 100%;
}

.error-alert ul{
    margin: 0.5em;
}

.success-alert{
    background-color: hsl(138, 59%, 45%);
    border: 0.1em solid hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    position: absolute;
    top: 50vh;
    left: 35%;
}

.error-alert.hidden{
    display: none;
}

.success-alert.hidden{
    display: none;
}